<p>Create new colony!</p>

<div>
  <label>Colony name:</label>
  <input [(ngModel)]="colonyName" placeholder="Enter Colony Name" type="text" />
  <br />
  <hr />
  <label>Initial bee count:</label>
  <input [(ngModel)]="beeCount" placeholder="Enter Bee Count" type="number" />
  <br />
  <hr />
  <label>Initial hive count:</label>
  <input [(ngModel)]="hiveCount" placeholder="Enter Hive Count" type="number" />
  <br />
  <hr />
  <button type="button" class="btn btn-primary" (click)="saveNewColony()">Save</button>
</div>

